.container {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldset {
    display: flex;
}


.fieldset div {
    padding: 0.5rem 1rem;
}

.fieldset label {
    display: block;
}

.fieldset label input {
    margin-right: 0.5rem;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0 1rem;
    padding: 0.25rem;
    border-color: grey;
}

.inputField h4 {
    margin-bottom: 0.5rem;
}

.inputField input[type=text] {
    padding: 0.5rem;
}

.submit {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}